{% extends 'newsletter.base.html.twig' %}

{% block message %}
<p style="color: #333; font-family: sans-serif; font-size: 16px; text-decoration: none">Geachte{% if null != naam %} {{ naam }}{% endif %},</p>

<h3 style="font-size: 16px; color: #333; margin-bottom: 5px">Vandaag</h3>
{% for record in berichten %}
<a href="https://www.tourbuzz.nl/bericht/{{ record.id }}" style="color: #333; font-family: sans-serif; font-size: 16px; text-decoration: none">{{ record.title }}</a> <span style="color: #999;font-size:12px"> t/m {{ record.endDate|date('d-m-Y') }} </span><br>
{% endfor %}

    {% set firstMessage = true %}
    {% for bericht in sortedByDate %}
        {% for record in bericht %}
            {% if firstMessage %}
                <h3 style="margin-bottom: 0">{{ record.startDate|date('d-m-Y') }}</h3>
                {% set firstMessage = false %}
            {% endif %}
            <a href="https://www.tourbuzz.nl/bericht/{{ record.id }}" style="color: #333">{{ record.title }}</a> <span style="color: #aaa;font-size:12px"> t/m {{ record.endDate|date('d-m-Y') }} </span><br>
        {% endfor %}
        {% set firstMessage = true %}
    {% endfor %}

{% endblock %}