<h1>Geachte{% if null != naam %} {{ naam }}{% endif %},</h1>

Hierbij de merkwaardigheden voor de komende twee weken.

{% for bericht in berichten %}
{{ bericht.startDate|date('d-m-Y') }} - {{ bericht.endDate|date('d-m-Y') }} {{ bericht.title }}
{% endfor %}

{{ dump(berichten) }}


Groet,

Tourbuzz.nl